# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Logs and databases
*.log
*.sqlite

# PyInstaller
*.spec

# VS Code / IDE files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Git
.gitignore
